<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top eshop deals</title>
  {{!-- gmail supports basic styling in style tags: https://developers.google.com/gmail/design/css --}}
</head>
<body>
  TODO
</body>
</html>
